<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <title>I am Vue</title>
</head>
<body>
    <div id="app" v-cloak>
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="users.html">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="edit.html">Edit</a>
                </li>
            </ul>
            <div class="alert alert-primary" role="alert">
                We have {{ computedArrLength }} users.
            </div>
            <table class="table table-striped table-dark" v-if="visibleContent">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Patronymic</th>
                        <th scope="col">Photo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr is="component-users" v-for="user in users" :user="user" :key="user.id"></tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary float-right" v-on:click="showContent" v-tooltip.top-center="buttonText">{{ computedButtonText }}</button>
        </div>
    </div>

    <script type="text/x-template" id="component-users-template">
        <tr>
            <td></td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.patronymic }}</td>
            <td>
                <template>
                    <img :src="user.photo" alt="..." class="img-thumbnail" width="100" v-if="user.photo">
                    <img v-else src="http://cdn.onlinewebfonts.com/svg/img_264157.png" alt="..." class="img-thumbnail" width="100">
               </template>
            </td>
        </tr>
    </script>

<script src="vendor/vue.js"></script>
<script src="https://unpkg.com/v-tooltip"></script>
<script src="app.js"></script>
</body>
</html>
